* {
	box-sizing: border-box;
}
body {
	background-image: url("Bubble.jpg");
	background-size: 100% 100%;
	color: #ffc61a;
}
h1 {
	text-align: center;
}
.about {
	width: 40%;
	float: left;
}
.twitch {
	width: 60%;
	float: left;
}
.twetch {
	margin-left: 20%;
}