* {
	box-sizing: border-box;
}
body {
	background-image: url("Bubble.jpg");
	background-size: 100% 100%;
	color: #d6d6c2;
}
h1 {
	text-align: center;
}
.about {
	width: 25%;
	float: left;
}
.twitch {
	width: 75%;
	float: left;
}